/* Mostrar la x solo cuando se posiciona el ratón encima */
.list-group-item i {
  opacity: 0;
  transition: opacity 0.3s;
}

.list-group-item:hover i {
  opacity: 1;
}

/*Eliminar el borde azul al hacer clic en el input */
.form-control:focus {
  box-shadow: none;
}

/*Aparición lenta de taréa */
.list-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }